.@{prefixCls}-picker {
  width: 100%;
  &-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @pickerHeaderBorder;
  }
  &-wrapper {
    .@{prefixCls}-drawer-content {
      padding: 0;
    }
  }
  &-title {
    color: @pickerTitle;
    flex: 1;
    font-size: .changePX(32)[@size];
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    height: unset;
  }
  &-ok,
  &-cancel {
    padding: 0 .changePX(30)[@size];
    height: @pickerHeaderHeight;
    font-size: .changePX(28)[@size];
    color: @pickerHeaderBtn;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}