.@{prefixCls}-picker-view {
  width: 100%;
  height: @pickerViewHeight;
  background-color: @pickerViewBg;
  display: flex;

  &-col {
    flex: 1;
    overflow: hidden;
    height: 100%;
    position: relative;

    &-content {
      height: 100%;
    }

    &-indicator {
      position: absolute;
      width: 100%;
      border-top: 1px solid @pickerViewIndicatorBorder;
      border-bottom: 1px solid @pickerViewIndicatorBorder;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: @pickerViewIndicatorBg;
    }

    &-mask {
      pointer-events: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-image: @pickerViewMask;
    }

    .swiper-slide {
      font-size: .changePX(28)[@size];
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide-content {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}